<!DOCTYPE html><html><head><meta charset=utf-8><title>电子化礼品平台</title><link href=${staticUrl}/css/vendor.96dd603c97cdef0f70458efabd4e66a2.css rel=stylesheet><link href=${staticUrl}/css/app.dac85ae445b3a5f733366525ec295657.css rel=stylesheet></head><body><div id=app><router-view></router-view></div><script>var baseUrl = "${baseUrl}";</script><script type=text/javascript src=${staticUrl}/js/manifest.dcd62b4ee84343b7117a.js></script><script type=text/javascript src=${staticUrl}/js/vendor.0f805f47bcacea3bae67.js></script><script type=text/javascript src=${staticUrl}/js/app.e1ea492647033bf17da4.js></script></body></html>