<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>修改邮件-通知邮件列表-${baseDescribe}</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		#parse("commons/commonCss.vm") 
		#parse("commons/commonJs.vm")
	</head>

	<body class="no-skin">
		#parse("commons/header.vm")
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">

				#parse("commons/sidebar.vm")
				<div class="main-content">
					
					#parse("commons/breadcrumbs.vm")
					<div class="page-content">
					
						#parse("commons/setting.vm")
						<div class="page-header">
							<h3>修改专题
							#parse("commons/backurl.vm")
							</h3>
						</div><!-- /.page-header -->
						
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="widget-box">
									<div class="widget-body">
										<div class="widget-main">
											<form id="theForm" name="theForm" class="form-horizontal">
											<input type="hidden" id="id" name="id" value="$!{ntcMail.id}">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>通知类型： </label>
                                                    <div class="col-sm-6">
                                                        <div class="clearfix">
                                                            <div class="radio">
                                                                <label>
                                                                    <input type="radio" name="noticeType" value="refund"  #if($!{ntcMail.noticeType}=="refund") checked #end class="ace" />
                                                                    <span class="lbl">退款通知 </span>
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="noticeType" value="refund"  #if($!{ntcMail.noticeType}=="buy") checked #end class="ace" />
                                                                    <span class="lbl">下单通知 </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>电子邮件：</label>
													<div class="col-sm-8">
														<div class="clearfix">
															<input class="col-xs-10 col-sm-5" name="mail" id="mail" value="$!{ntcMail.mail}" type="text" />
															(摩森特企业邮箱)
														</div>
													</div>
												</div>

												<div class="clearfix form-actions">
													<div class="col-md-offset-3 col-md-9">
														<button class="btn btn-info" type="submit" id="submit">
															<i class="icon-ok bigger-110"></i>
															提交
														</button>
														&nbsp; &nbsp; &nbsp;
														<button class="btn" type="reset">
															<i class="icon-undo bigger-110"></i>
															重置
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->
			#parse("commons/scroll.vm")
		</div><!-- /.main-container -->
		#parse("commons/footerJs.vm")
		<script src="${base}/mocentre/js/fuelux/fuelux.spinner.js"></script>
		<script>
		$(document).ready(function(){

			var rules = {},messages = {};
			rules.noticeType = {required:true};
			rules.mail = {required:true,email: true};
			messages.noticeType = {required:"通知类型不能为空"};
			messages.mail = {required:"电子邮件不能为空",email: '请检查电子邮件的格式'};
			Validate.init("theForm",rules,messages,function(form){
                App.formAjaxSubmit('theForm','${base}/ntc/mail/editNtcMail.htm','post',
		  			function(result){
		  				var suc = result.success;
		  				if(suc){
		  					window.location.href="${base}/ntc/mail/index.htm";
		  				}else{
		  					layer.msg(result.message);
		  				}
		  			}
		  		);
			})
		});
		
		</script>
</body>
</html>

