<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>新增频道</title>
		<meta name="keywords" content="新增频道" />
		<meta name="description" content="新增频道" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		#parse("commons/commonCss.vm") 
		#parse("commons/commonJs.vm")
	</head>

	<body class="no-skin">
		#parse("commons/header.vm")
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">

				#parse("commons/sidebar.vm")
				<div class="main-content">
					
					#parse("commons/breadcrumbs.vm")
					<div class="page-content">
						#parse("commons/setting.vm")
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<form id="search_form" class="form-inline">
										<a class="btn btn-sm btn-primary" href="${base}/goods/channel/add.htm" value="">新增</a>
										<input type="text" id="title" name="title" class="input-sm" placeholder="属性名">&nbsp;&nbsp;
										<button type="submit" class="btn btn-purple btn-sm" >
											搜索
										</button>
										<button type="submit" class="btn btn-purple btn-sm pull-right inline">
											<i class="icon-refresh"></i>
											刷新
										</button>
									</form>
								</div>
								<div class="space-4"></div>
								
								<div class="row">
									<div class="table-header"></div>
									<div class="table-responsive">
										<table id="sample-table" width="100%" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th class="center">
														<label>
															<input type="checkbox" class="ace" />
															<span class="lbl"></span>
														</label>
													</th>
													<th>频道名称</th>
                                                    <th>频道所属地区</th>
                                                    <th>频道排序</th>
                                                    <th>是否展示</th>
													<th width="15%">操作</th>
												</tr>
											</thead>
										</table>
									</div>
                                    <div class="space-4"></div>
                                    <div class="cf">
                                        <input id="btn-del" class="btn  btn-sm btn-primary" type="button" value="删除">
                                        <input id="btn-import" onclick="batchUp()" class="btn btn-sm btn-primary" type="button" value="批量导入">
                                    </div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			#parse("commons/scroll.vm")
		</div><!-- /.main-container -->

		#parse("commons/footerJs.vm")
		<script src="${base}/mocentre/js/dataTables/jquery.dataTables.js"></script>
		<script src="${base}/mocentre/js/dataTables/jquery.dataTables.bootstrap.js"></script>
    	<script src="${base}/mocentre/js/common.js"></script>
		<script type="text/javascript">
			var mTable;
			$(document).ready(function() {
			    mTable = $('#sample-table').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        url:"${base}/goods/channel/getAll.htm",
                        type:"post",
                        data: function (d) {
                        },
                        "dataSrc":function(json){
                            if(!json.success){
                                json.data=[];
                                var code = json.code;
                                if(code==400){
                                    Box.alert(json.message,function(){
                                        window.location.href="${base}/sys/login/logout";
                                    },"确定");
                                }else{
                                    layer.msg(json.message);
                                }
                            }
                            return json.data;
                        }
                    },
					"columns" : [
						{ "data":null,"orderable":false},
						{"data":"name","orderable":true},
						{"data":"beCity","orderable":true},
                        {"data":"isShow","orderable":true},
                        {"data":"sorted","orderable":true},
                        { "data":null,"orderable":false},
					],
                    "columnDefs": [
                        {
                            "class":"center",
                            "orderable":false,
                            "render":function(data, type, row){
                                return '<input type=\"checkbox\" class=\"ace\" /><span class=\"lbl\"></span>';
                            },
                            "targets":0
                        },
                        {
                            "render":function(data, type, row){
                                return "<a href=\"${base}/goods/channel/edit.htm?id="+row.id+"\"><i class=\"ace-icon fa fa-pencil\"></i>修改</a>"+
                                        "&nbsp;<a href=\"javascript:void(0);\" onclick=\"del("+row.id+")\"><i class=\"ace-icon fa fa-trash-o red\"></i>删除</a>";
                            },
                            "targets":5,
                            "orderable":false
                        }
					],
	        		"paging":   false,
					"ordering": false,
					"bFilter" : false,
					"bInfo": false
				});

				$('table th input:checkbox').on('click' , function(){
						var that = this;
						$(this).closest('table').find('tr > td:first-child input:checkbox')
						.each(function(){
							this.checked = that.checked;
							$(this).closest('tr').toggleClass('selected');
						});
				});

				$('#search_form').submit(function(){
					mTable.fnDraw();
					return false;
				});
			});
			
			function del(id){
				Box.confirm("是否删除该属性?",function(){
					jQuery.ajax({
			            type: 'post',
			            url: '${base}/goods/channel/delChannel.htm',
			            data:  {"id":id},
			            success: function(data){
			            	if(data == "success"){
			            		mTable.fnDraw();
							}else{
								
							}
						},
						error: function(data) {
							Box.alert('系统异常，请联系系统管理员!');
						}  
					});
				});
			}
            $('#btn-del').on('click' , function(){
                var url = '${base}/goods/channel/delChannelList.htm';
				var table = $(table);
                del_checked(url,table);
			})
		</script>
</body>
</html>