<div class="footer">
	<div class="footer-inner">
		<!-- #section:basics/footer -->
		<div class="footer-content">
			<span class="bigger-120">
				<small>Copyright &copy; 2016 <a href="http://www.mocentre.com" target="_blank">摩森特（北京）科技有限公司</a> All Rights Reserved.</small>
			</span>
		</div>

		<!-- /section:basics/footer -->
	</div>
</div>