			<div id="sidebar" class="sidebar responsive">
					<script type="text/javascript">
						try{ace.settings.check('sidebar','fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="ace-icon fa fa-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="ace-icon fa fa-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="ace-icon fa fa-users"></i>
							</button>

							<button class="btn btn-danger">
								<i class="ace-icon fa fa-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
						#foreach($menu in $menuList)
						<li class="#if($!menu.id==$!menus.id)active#end #if($cMenus&&$cMenus.pid&&$!menu.id==$!cMenus.pid)open#end">
							<a #if($menu.children&&$menu.children.size() gt 0) href="#" class="dropdown-toggle" #else href="${base}/$menu.url" #end>
								<i class="$menu.icon"></i>
								<span class="menu-text">$menu.title</span>
								#if($menu.children&&$menu.children.size() gt 0)
								<b class="arrow fa fa-angle-down"></b>
								#end
							</a>
							<b class="arrow"></b>
							#if($menu.children&&$menu.children.size() gt 0)
							<ul class="submenu">
								#foreach($onechild in $menu.children)
								<li class="#if(($cMenus&&$!onechild.id==$!cMenus.id)||($ccMenus&&$ccMenus.pid&&$!onechild.id==$!ccMenus.pid))active#end #if($ccMenus&&$!onechild.id==$!ccMenus.pid&&$!ccMenus.type!=2)open#end">
									<a href="${base}/$onechild.url" #if($onechild.children&&$onechild.children.size() gt 0)class="dropdown-toggle"#end>
										<i class="$onechild.icon"></i>
										$onechild.title
										#if($onechild.children&&$onechild.children.size() gt 0)
										<b class="arrow fa fa-angle-down"></b>
										#end
									</a>
									<b class="arrow"></b>
									#if($onechild.children&&$onechild.children.size() gt 0)
									<ul class="submenu">
										#foreach($twochild in $onechild.children)
										<li class="#if(($ccMenus&&$!twochild.id==$!ccMenus.id)||($cccMenus&&$cccMenus.pid&&$!twochild.id==$!cccMenus.pid))active#end #if($cccMenus&&$!twochild.id==$!cccMenus.pid&&$!cccMenus.type!=2)open#end">
											<a href="${base}/$twochild.url" #if($twochild.children&&$twochild.children.size() gt 0)class="dropdown-toggle"#end>
												<i class="$twochild.icon"></i>
												$twochild.title
												#if($twochild.children&&$twochild.children.size() gt 0)
												<b class="arrow fa fa-angle-down"></b>
												#end
											</a>
											<b class="arrow"></b>
											#if($twochild.children&&$twochild.children.size() gt 0)
											<ul class="submenu">
											#foreach($threechild in $twochild.children)
												<li class="#if($cccMenus&&$!threechild.id==$!cccMenus.id)active#end">
													<a href="${base}/$threechild.url">
														<i class="$threechild.icon"></i>
														$threechild.title
													</a>
												</li>
											#end
											</ul>
											#end
										</li>
										#end
									</ul>
									#end
								</li>
								#end
							</ul>
							#end
						</li>
						#end
					 
					</ul><!-- /.nav-list -->

					<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
						<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar','collapsed')}catch(e){}
					</script>
				</div>