<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>分类列表</title>
		<meta name="keywords" content="分类列表" />
		<meta name="description" content="分类列表" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		#parse("commons/commonCss.vm") 
		#parse("commons/commonJs.vm")
	</head>

	<body class="no-skin">
		#parse("commons/header.vm")
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">

				#parse("commons/sidebar.vm")
				<div class="main-content">
					
					#parse("commons/breadcrumbs.vm")
					<div class="page-content">
						#parse("commons/setting.vm")
						<div class="row">
							<div class="col-xs-12">
                                <a class="btn btn-sm btn-primary" href="${base}/ggoods/category/add.htm" value="">新增分类</a>
								<div class="space-4"></div>
								<div class="row">
									<div class="table-header"></div>
									<div class="table-responsive">
										<table id="sample-table" width="100%" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th width="5%" class="center">#</th>
													<th width="20%">分类名称</th>
                                                    <th width="10%">是否展示</th>
                                                    <th width="10%">分类类型</th>
                                                    <th width="10%">排序</th>
													<th width="15%">操作</th>
												</tr>
											</thead>
                                            <tfoot>
                                                <tr>
                                                    <th width="5%" class="center">#</th>
                                                    <th width="20%">分类名称</th>
                                                    <th width="10%">是否展示</th>
                                                    <th width="10%">分类类型</th>
                                                    <th width="10%">排序</th>
                                                    <th width="15%">操作</th>
                                                </tr>
                                            </tfoot>
										</table>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			#parse("commons/scroll.vm")
		</div><!-- /.main-container -->

		#parse("commons/footerJs.vm")
		<script src="${base}/mocentre/js/dataTables/jquery.dataTables.js"></script>
		<script src="${base}/mocentre/js/dataTables/jquery.dataTables.bootstrap.js"></script>
        <script type="text/javascript">
            var mTable;
            $(document).ready(function() {
                mTable = $('#sample-table').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        url:"${base}/ggoods/category/query.htm",
                        type:"post",
                        data: function (d) {
                            d.orderby = 'asc';
                            d.column = 'sorting'
                        },
                        "dataSrc":function(json){
                            if(!json.success){
                                json.data=[];
                                var code = json.code;
                                if(code==400){
                                    Box.alert(json.message,function(){
                                        window.location.href="${base}/sys/login/logout";
                                    },"确定");
                                }else{
                                    layer.msg(json.message);
                                }
                            }
                            return json.data;
                        }
                    },
                    "columns" : [
                        { "data":null,"orderable":false},
                        { "data":"name","orderable":true},
                        { "data":"isShow","orderable":true},
                        { "data":"cType","orderable":true},
                        { "data":"sorting","orderable":true},
                        { "data":null,"orderable":false},
                    ],
                    "columnDefs": [
                        {
                            "class":"center",
                            "targets":0
                        },
                        {
                            "orderable":false,
                            "render":function(data, type, row){
                                if (data == "1") {
                                    return "是";
                                }else if (data == "0") {
                                    return "否";
                                }
                            },
                            "targets":2
                        },
                        {
                            "orderable":false,
                            "render":function(data, type, row){
                                if (data == "virtual") {
                                    return "虚拟";
                                }else if (data == "material") {
                                    return "实物";
                                }
                            },
                            "targets":3
                        },
                        {
                            "render":function(data, type, row){
                                    var ope = [];
                                    ope.push("<div class=\"nowrap\"><div class=\"btn-group\">");
                                    ope.push("<a href=\"${base}/ggoods/category/view.htm?id="+row.id+"&cType="+row.cType+"\"><i class=\"ace-icon fa fa-pencil\"></i>查看子分类</a>");
                                    ope.push("<span class=\"text-explode\">|</span>");
                                    if (row.isShow == "1") {
                                        ope.push("<a href=\"javascript:void(0);\" onclick=\"updateShow(0,"+row.id+")\">关闭显示</a>");
                                    } else if (row.isShow == "0"){
                                        ope.push("<a href=\"javascript:void(0);\" onclick=\"updateShow(1,"+row.id+")\">开启显示</a>");
                                    }
                                    ope.push("<span class=\"text-explode\">|</span>");
                                    ope.push("<a href=\"${base}/ggoods/category/edit.htm?id="+row.id+"\"><i class=\"ace-icon fa fa-pencil\"></i>修改</a>");
                                    ope.push("<span class=\"text-explode\">|</span>");
                                    ope.push("<a href=\"javascript:void(0);\" onclick=\"del("+row.id+")\"><i class=\"ace-icon fa fa-trash-o red\"></i>删除</a>");
                                    ope.push("</div></div>");
                                return ope.join("");
                            },
                            "targets":5,
                            "orderable":false
                        }
                    ],
                    "order": [[4, 'asc']],
                    "bFilter" : false,
                    "bPaginate" : true ,
                    "iDisplayLength" : 50,
                    "oLanguage" : {
                        "sUrl" : "${base}/mocentre/js/dataTables/de_DE.txt"
                    }
                });

                mTable.on('draw.dt',
                        function() {
                            mTable.column(0, {
                                search: 'applied',
                                order: 'applied'
                            }).nodes().each(function(cell, i) {
                                i = i+1;
                                var page = mTable.page.info();
                                var pageno = page.page;
                                var length = page.length;
                                var columnIndex = (i+pageno*length);
                                cell.innerHTML = columnIndex;
                            });
                        });

                $('#search_form').submit(function(){
                    mTable.draw();
                    return false;
                });

            });

            function del(id){
                Box.confirm("是否删除该分类?",function(){
                    jQuery.ajax({
                        type: 'post',
                        url: '${base}/ggoods/category/delGiftCategory.htm',
                        data:  {"id":id},
                        dataType: 'json',
                        success: function(data){
                            if(data.success){
                                mTable.draw();
                            }else{
                                Box.alert(data.message);
                            }
                        },
                        error: function(data) {
                            Box.alert('系统异常，请联系系统管理员!');
                        }
                    });
                });
            }

            function updateShow(show,id){
                Box.confirm("是否确定这样操作?",function(){
                    jQuery.ajax({
                        type: 'post',
                        url: '${base}/ggoods/category/editGiftCategory.htm',
                        data:  {"id":id,"isShow":show},
                        dataType: 'json',
                        success: function(data){
                            if(data.success){
                                mTable.draw();
                            }else{
                                Box.alert(data.message);
                            }
                        },
                        error: function(data) {
                            Box.alert('系统异常，请联系系统管理员!');
                        }
                    });
                });
            }
        </script>

</body>
</html>