<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>店铺详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		#parse("commons/commonCss.vm") 
		#parse("commons/commonJs.vm")
	</head>

	<body class="no-skin">	

    <div class="main-container-inner">

        <div class="main-content">
			
            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form id="theForm" name="theForm" class="form-horizontal">
                            <div class="widget-box">
                            	<div class="widget-body">
									<div class="widget-main">
									
										<div class="widget-main padding-8">
										        名称：$!{shop.name}
										  </div>
										  <div class="widget-main padding-8">
										        负责人：$!{shop.leader}
										  </div>
										  <div class="widget-main padding-8">
										           地址：$!{shop.address}
										  </div>
										  <div class="widget-main padding-8">
										           开店时间： $!date.format('yyyy-MM-dd',${shop.open_date})
										  </div>
										  <div class="widget-main padding-8">
										           营业情况：#if($shop)
										           	#if(${shop.buss_status}=='opening')
										           		营业中
										           	#elseif(${shop.buss_status}=='stop')
										           		关闭
										           	#elseif(${shop.buss_status}=='pause')
										           		停止营业
										           	#end
										           #end
										  </div>
										  <div class="widget-main padding-8">
										           链接地址：$!{shop.show_url}
										  </div>
										  <div class="widget-main padding-8">
										           等级：$!{shop.level}
										  </div>
										  <div class="widget-main padding-8">
										           图片：<img src="$!{shop.img_logo}" width="200" height="200"/>
										  </div>
									
									</div>
								</div>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->
    #parse("commons/footerJs.vm")
	</body>
</html>