<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>修改专题-专题管理-${baseDescribe}</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		#parse("commons/commonCss.vm") 
		#parse("commons/commonJs.vm")
	</head>

	<body class="no-skin">
		#parse("commons/header.vm")
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">

				#parse("commons/sidebar.vm")
				<div class="main-content">
					
					#parse("commons/breadcrumbs.vm")
					<div class="page-content">
					
						#parse("commons/setting.vm")
						<div class="page-header">
							<h3>修改专题
							#parse("commons/backurl.vm")
							</h3>
						</div><!-- /.page-header -->
						
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="widget-box">
									<div class="widget-body">
										<div class="widget-main">
											<form id="theForm" name="theForm" class="form-horizontal">
											<input type="hidden" id="id" name="id" value="$!{subject.id}">
											<input type="hidden" id="isShow" name="isShow" value="$!{subject.isShow}" />
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>专题名称：</label>
				
													<div class="col-sm-8">
														<div class="clearfix">
															<input class="col-xs-10 col-sm-5" name="title" id="title" value="$!{subject.title}" type="text" />
														</div>
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>专题简介：</label>
													<div class="col-sm-8">
														<div class="clearfix">
															<input class="col-xs-10 col-sm-5" name="intro" id="intro" value="$!{subject.intro}" type="text" />
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right" for="form-field-1">是否展示：</label>
													<div class="col-sm-8 control-label align-left">
														<div class="clearfix">
															<input type="checkbox" name="showChecked" #if($!{subject.isShow}==1) checked #end class="ace ace-switch ace-switch-2" />
															<span class="lbl"></span>
															<span class="help-inline"><span class="middle">YES：是；NO：否</span></span>
														</div>
													</div>
												</div>
												
												<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="form-field-2"> 排序 ：</label>
												
												<div class="col-sm-6">
													<div class="clearfix">
														<input type="text" id="sorting" name="sorting" placeholder="排序" value="$!{subject.sorting}" class="col-xs-10 col-sm-5" />
														<span class="help-inline"><span class="middle">越小越靠前</span></span>
													</div>
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>banner图： </label>
													<div class="col-sm-8">
														<div class="clearfix">
															<input class="col-xs-10 col-sm-5" name="topBanner" id="top_banner" type="text" readonly="readonly" value="${subject.topBanner}"/>
															<span class="help-inline col-sm-5">
																<span class="middle"><a class="btn btn-minier btn-primary" onclick="addImg('top_banner');">添加</a></span>
																<span class="middle">图片规格：750*380</span>
															</span>
														</div>
														<img id="top_banner_preview" #if(${subject.topBanner} != '') src="${subject.topBanner}" #else src="" class="hidden" #end style="height: 100px;width: 100px">
													</div>
												</div>
												
												<div class="form-group">
													<div class="row">
														<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>选择模板：</label>
														<div class="col-sm-3">
																<select name="subTmpCode" id="sub_tmpCode" class="form-control chosen-select" data-placeholder="选择模板">
																	<option value=""></option>
																	#foreach($templet in $templetList)
																	<option value="$templet.code" #if($!{subject.subTmpCode}==$templet.code) selected="selected" #end data-weight="$templet.imgWidth" data-height="$templet.imgHeight">$templet.name</option>
																	#end
																</select>
																<span class="help-inline">
																	<span class="middle" id="temp_img"></span>
																</span>
														</div>
													</div>
												</div>
												
												<div class="clearfix form-actions">
													<div class="col-md-offset-3 col-md-9">
														<button class="btn btn-info" type="submit" id="submit">
															<i class="icon-ok bigger-110"></i>
															提交
														</button>
														&nbsp; &nbsp; &nbsp;
														<button class="btn" type="reset">
															<i class="icon-undo bigger-110"></i>
															重置
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->
			#parse("commons/scroll.vm")
		</div><!-- /.main-container -->
		#parse("commons/footerJs.vm")
		<script src="${base}/mocentre/js/fuelux/fuelux.spinner.js"></script>
		<script>
		$(document).ready(function(){
			
			$('#sub_tmpCode').chosen({no_results_text:"未找到此选项：",allow_single_deselect:true})
				.change(function(){
				var tmpCode = $(this).val();
				if(tmpCode==''){
					$("#temp_img").text("");
				}else{
					weight = $(this).find("option:selected").attr("data-weight");
					height = $(this).find("option:selected").attr("data-height");
					$("#temp_img").text("商品图片规格："+weight+"*"+height);
				}
			});
			
			$('#sorting').ace_spinner({min:1,max:200,step:1, btn_up_class:'btn-info',btn_down_class:'btn-info'});
			var rules = {},messages = {};
			rules.title = {required:true};
			rules.intro = {required:true};
			rules.subTmpCode = {required:true};
			messages.title = {required:"名称不能为空"};
			messages.intro = {required:"简介不能为空"};
			messages.subTmpCode = {required:"模板不能为空"};
			Validate.init("theForm",rules,messages,function(form){
				$("input[name='showChecked']:checkbox").each(function(){ 
	                if($(this).is(':checked')){
	                    $("#isShow").val("1");
	                }else{
	                	$("#isShow").val("0");
	                }
	            });
	            var banner = $('#top_banner').val();
                if(banner == ''){
                    layer.msg('请添加图片');
                    return
                }
                App.formAjaxSubmit('theForm','${base}/sub/subject/editSubject.htm','post',
		  			function(result){
		  				var suc = result.success;
		  				if(suc){
		  					window.location.href="${base}/sub/subject/index.htm";
		  				}else{
		  					layer.msg(result.message);
		  				}
		  			}
		  		);
			})
		});
		
		/* 上传图片  */
		function addImg(nodeId){
			var index = layer.open({
			  type: 2,
			  title: "上传图片",
			  shadeClose: true,
			  closeBtn: 1,
			  area: ['30%', '50%'],
			  content: ['${base}/common/upyun/uploadImg.htm?nodeId='+nodeId, 'no'],
			  btn: ['关闭'],
              yes:function(){
                   layer.close(index);
              }
			});
		}
        
		</script>
</body>
</html>

