<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>新增发现页-配置页列表-${baseDescribe}</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		#parse("commons/commonCss.vm") 
		#parse("commons/commonJs.vm")
	</head>

	<body class="no-skin">
		#parse("commons/header.vm")
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">

				#parse("commons/sidebar.vm")
				<div class="main-content">
					
					#parse("commons/breadcrumbs.vm")
					<div class="page-content">
					
						#parse("commons/setting.vm")
						<div class="page-header">
							<h1>新增发现页
							#parse("commons/backurl.vm")
							</h1>
						</div><!-- /.page-header -->
						
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="widget-box">
									<div class="widget-body">
										<div class="widget-main">
										<form id="theForm" name="theForm" class="form-horizontal" enctype="multipart/form-data">
											<input type="hidden" id="isGoods" name="isGoods" value=""/>
											<input type="hidden" id="isShow" name="isShow" value=""/>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>名称：</label>
												<div class="col-sm-8">
													<div class="clearfix">
														<input class="col-xs-10 col-sm-5" name="actName" id="actName" type="text" />
														<span class="help-inline col-xs-12 col-sm-7"><span class="middle">仅做标示便于识别，前台不会显示</span></span>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="form-field-1"><span class="middle red">*</span>是否关联商品 ： </label>
			
												<div class="col-sm-8 control-label align-left">
													<div class="clearfix">
														<input type="checkbox" name="goodsChecked" class="ace ace-switch ace-switch-2" />
														<span class="lbl"></span>
														<span class="help-inline"><span class="middle">YES：是；NO：否(不关联商品，请配置跳转链接)</span></span>
													</div>
												</div>
											</div>
											
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>展示图片： </label>
												<div class="col-sm-8">
													<div class="clearfix">
														<input class="col-xs-10 col-sm-5" name="showImg" id="showImg" type="text" readonly="readonly"/>
														<span class="help-inline col-sm-5">
															<span class="middle"><a class="btn btn-minier btn-primary" onclick="addImg('showImg');">添加</a></span>
															<span class="middle">注：图片尺寸750*1205</span>
														</span>
													</div>
                                                    <img id="showImg_preview" class="hidden" src="" width="100" height="100">
												</div>
											</div>
											
											<div class="space-4"></div>
											<div id="tab_1" hidden="hidden">
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>商品分类：</label>
													<div class="col-sm-3">
														<select class="chosen-select form-control" id="goodsChannel" name="goodsChannel" data-placeholder="选择分类">
															<option value=""></option>
															#foreach($cy in $cyList)
															<option value="$cy.id">$cy.name</option>
															#end
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>关联商品： </label>
													<div class="col-sm-3">
														<div class="clearfix">
															<select class="chosen-select form-control" name="goodsId" id="goodsId" data-placeholder="选择商品">
																<option value=""></option>
															</select>
														</div>
													</div>
													<span class="help-inline"><span class="middle">注：选择分类后，在下拉框中选中商品</span></span>
												</div>
											</div>
											
											<div id="tab_2">
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>跳转链接： </label>
													<div class="col-sm-8">
														<div class="clearfix">
															<input class="col-xs-10 col-sm-5" name="url" id="url" value="" type="text" />
														</div>
													</div>
												</div>
											</div>
											
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>排序 ：</label>
												
												<div class="col-sm-6">
													<div class="clearfix">
														<input type="text" id="sorting" name="sorting" placeholder="排序" value="1" class="col-xs-10 col-sm-5" />
														<span class="help-inline"><span class="middle">越小越靠前</span></span>
													</div>
												</div>
											</div>
			
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>是否显示： </label>
			
												<div class="col-sm-8 control-label align-left">
													<div class="clearfix">
														<input type="checkbox" name="showChecked" class="ace ace-switch ace-switch-2" />
														<span class="lbl"></span>
														<span class="help-inline"><span class="middle">YES：是；NO：否</span></span>
													</div>
												</div>
											</div>
											
											<div class="clearfix form-actions">
												<div class="col-md-offset-3 col-md-9">
													<button class="btn btn-info" type="submit" id="submit">
														<i class="icon-ok bigger-110"></i>
														提交
													</button>
													&nbsp; &nbsp; &nbsp;
													<button class="btn" type="reset">
														<i class="icon-undo bigger-110"></i>
														重置
													</button>
												</div>
											</div>
										</form>
										</div>
									</div>
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			#parse("commons/scroll.vm")
		</div><!-- /.main-container -->
		#parse("commons/footerJs.vm")
		<script src="${base}/mocentre/js/fuelux/fuelux.spinner.js"></script>
		<script>
		$(document).ready(function(){
			$("input[name='goodsChecked']:checkbox").click(function(){
				if($(this).is(':checked')){
                    $("#tab_2").hide();
                    $("#tab_1").show();
                    $("#goodsChannel").chosen("destroy");
	            	$("#goodsId").chosen("destroy");
					$('#goodsChannel').chosen({no_results_text:"未找到此选项：",allow_single_deselect:true});
					$('#goodsId').chosen({no_results_text:"未找到此选项：",allow_single_deselect:true});
					Validate.remove("url");
	            	Validate.remove("showImg");
	            	Validate.add("goodsChannel",{required:true},{required:"商品分类不能为空"});
					Validate.add("goodsId",{required:true},{required:"关联商品不能为空"});
                }else{
                	$("#tab_1").hide();
                    $("#tab_2").show();
                    Validate.remove("goodsChannel");
	            	Validate.remove("goodsId");
	            	Validate.add("url",{required:true},{required:"跳转链接不能为空"});
					Validate.add("showImg",{required:true},{required:"展示图片不能为空"});
                }
			});
			
			$('#sorting').ace_spinner({value:1,min:1,max:200,step:1, btn_up_class:'btn-info',btn_down_class:'btn-info'});
			
		    if(!ace.vars['touch']) {
				$('#goodsChannel').chosen({no_results_text:"未找到此选项：",allow_single_deselect:true})
				.change(function(){
					cleanChosen('goodsId');
					var cId = $(this).val();
					if(cId!=null&&cId!=""){
						jQuery.ajax({
				            type: 'post', 
				            url: '${base}/goods/goods/ajax/getByCategory.htm',  
				            data:  {'cid':cId},
				            dataType: 'json',  
				            success: function(result){
				            	if(result.success){
								   	$("#goodsId").chosen("destroy");
				            		$("#goodsId").html("<option value=''></option>");
								   	var list = result.data;
								   	if(list!=null&&list.length>0){
									   	$.each(list,function(i){ 
											$("<option value='"+list[i].id+"'>"+list[i].name+"</option>").appendTo("#goodsId"); 
										}); 
								   	}else{
								   		layer.msg('未找到商品');
								   	}
									$('#goodsId').chosen({no_results_text:"未找到此选项：",allow_single_deselect:true});			
								}else{
									layer.msg(result.message);
								}
							},
							error: function(result) {
								layer.msg('系统异常，请联系系统管理员!');
							}  
						});
					}
				});
				
				$('#goodsId').chosen({no_results_text:"未找到此选项：",allow_single_deselect:true})
				
				$(window).off('resize.chosen').on('resize.chosen', function() {
						$('.chosen-select').each(function() {
							 var $this = $(this);
							 $this.next().css({'width': $this.parent().width()});
						})
				}).trigger('resize.chosen');
				//resize chosen on sidebar collapse/expand
				$(document).on('settings.ace.chosen', function(e, event_name, event_val) {
					if(event_name != 'sidebar_collapsed') return;
					$('.chosen-select').each(function() {
						 var $this = $(this);
						 $this.next().css({'width': $this.parent().width()});
					})
				});
			}
			
			var rules = {},messages = {};
			rules.actName = {required:true};
			rules.url = {required:true};
			rules.showImg = {required:true};
			rules.sorting = {required:true};
			messages.actName = {required:"名称不能为空"};
			messages.url = {required:"跳转链接不能为空"};
			messages.showImg = {required:"展示图片不能为空"};
			messages.sorting = {required:"展示图片不能为空"};
			Validate.init("theForm",rules,messages,
				function(form){
		            $("input[name='goodsChecked']:checkbox").each(function(){ 
		                if($(this).is(':checked')){
		                    $("#isGoods").val("1");
		                }else{
		                	$("#isGoods").val("0");
		                }
		            });
		            $("input[name='showChecked']:checkbox").each(function(){ 
		                if($(this).is(':checked')){
		                    $("#isShow").val("1");
		                }else{
		                	$("#isShow").val("0");
		                }
		            });
		            if($("#showImg").val()==""){
		            	layer.msg("请先上传图片");
		            	return;
		            }
					App.formAjaxSubmit('theForm','${base}/goods/discover/addDiscover.htm','post',
			  			function(result){
			  				var suc = result.success;
			  				if(suc){
			  					window.location.href="${base}/goods/discover/index.htm";
			  				}else{
			  					layer.msg(result.message);
			  				}
			  			}
			  		);
				}
			);
		})
		
		function addImg(nodeId){
			var index = layer.open({
			  type: 2,
			  title: "上传图片",
			  shadeClose: true,
			  closeBtn: 1,
			  area: ['30%', '50%'],
			  content: ['${base}/common/upyun/uploadImg.htm?nodeId='+nodeId, 'no'],
			  btn: ['关闭'],
                yes:function(){
                    var imgsrc = $("#"+nodeId).val();
                    if (imgsrc != ''){
                        $("#"+nodeId+"Preview").removeClass("hidden");
                        $("#"+nodeId+"Preview").attr("src",imgsrc);
                    }
                    layer.close(index);
                }
			});
		}
		
		function cleanChosen(id){
			$("#"+id).html("<option value=''></option>");
		   	$("#"+id).chosen("destroy");
		   	$('#'+id).chosen({no_results_text:"未找到此选项：",allow_single_deselect:true});
		}
		
		</script>
</body>
</html>