<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>${baseDescribe}-修改首页配置</title>
		<meta name="keywords" content="修改首页配置" />
		<meta name="description" content="修改首页配置" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		#parse("commons/commonCss.vm")
		#parse("commons/commonJs.vm")
	</head>

	<body class="no-skin">
		#parse("commons/header.vm")
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">

				#parse("commons/sidebar.vm")
				<div class="main-content">
					
					#parse("commons/breadcrumbs.vm")
					<div class="page-content">
						
						#parse("commons/setting.vm")
						<div class="page-header">
							<h1>
                                	修改关联商品
                                #parse("commons/backurl.vm")
							</h1>
						</div><!-- /.page-header -->
						
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<form id="theForm" name="theForm" class="form-horizontal">
                                    <input type="hidden" id="is_chain" name="isChain" value="$!{mallHome.isChain}">
                                    <input type="hidden" id="id" name="id" value="$!{mallHome.id}">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right " ><h4><strong>基本信息</strong></h4></label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <hr>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>展示位置：</label>
                                        <div class="col-sm-3">
                                            <div class="clearfix">
                                                <select name="showLocal" id="show_local"  class="form-control chosen-select" >
                                                    <option value="act" #if($!{mallHome.showLocal}=="act") selected="selected" #end> 活动精选</option>
                                                    <option value="special" #if($!{mallHome.showLocal}=="special") selected="selected" #end>爆品特卖</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"><span class="middle red">*</span>是否外链：</label>
                                        <div class="col-sm-8 control-label align-left">
                                            <div class="clearfix">
                                                <input type="checkbox" name="chainChecked" id="chain_checked"  #if($!{mallHome.isChain}==1) checked #end  class="ace ace-switch ace-switch-2" />
                                                <span class="lbl"></span>
                                                <span class="help-inline"><span class="middle">YES：是；NO：否</span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="link" class="form-group #if($!{mallHome.isChain}!="1") hidden #end">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>外部链接：</label>
                                        <div class="col-sm-3">
                                            <div class="clearfix">
                                                <input class="form-control" name="linkUrl" id="link_url" value="$!{mallHome.linkUrl}" type="text" placeholder="外部链接" />
                                            </div>
                                        </div>
                                    </div>

                                    <div id="act_img" #if($!{mallHome.showLocal}=="special") class='hidden' #end>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>展示图标：</label>
                                            <div class="col-sm-3">
                                                <div class="clearfix">
                                                    <input class="form-control" name="tagImg" id="tag_img" value="$!{mallHome.tagImg}" readonly="readonly" type="text" placeholder="展示图标" />
                                                    <span class="help-inline col-sm-1">
                                                        <span class="middle">
                                                        </span>
                                                    </span>
                                                </div>
                                                <img id="tag_img_preview" src="$!{mallHome.tagImg}" width="100" height="100"/>
                                            </div>
                                            <a class="btn btn-minier btn-primary" onclick="addImg('tag_img');">上传</a>
                                        </div>
                                    </div>

                                    <div id="isLink" class=" #if($!{mallHome.isChain}=="1") hidden #end">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>商品类型：</label>
                                            <div class="col-sm-3">
                                                <select name="goodsType" id="goods_type" class="form-control chosen-select" >
                                                    <option value="">请选择商品类型</option>
                                                    <option value="seckill" #if($!{mallHome.goodsType}=="seckill") selected="selected" #end>秒杀</option>
                                                    <option value="groupon" #if($!{mallHome.goodsType}=="groupon") selected="selected" #end>团购</option>
                                                    <option value="common" #if($!{mallHome.goodsType}=="common") selected="selected" #end>普通</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div id="activity" class="#if($!{mallHome.goodsType}=="common")hidden#end">

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>相关活动：</label>
                                                <div class="col-sm-3">
                                                    <select name="activityId" id="activity_id"  class="form-control chosen-select" data-placeholder="相关活动">
                                                        #foreach($act in $actList)
                                                            <option value="$!{act.id}" #if($!{mallHome.activityId}== $!{act.id}) selected="selected" #end>$act.title</option>
                                                        #end
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>活动商品：</label>
                                                <div class="col-sm-3">
                                                    <select name="actGoodsId" id="act_goods_id" class="form-control chosen-select" data-placeholder="活动商品">
                                                        #foreach($actGoods in $actGoodsList)
                                                            <option value="$!{actGoods.id}" #if($!{mallHome.actGoodsId}==$!{actGoods.id}) selected="selected" #end>$actGoods.goodsName</option>
                                                        #end
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="goods" class="#if($!{mallHome.goodsType}!="common")hidden#end">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>商品分类：</label>
                                                <div class="col-sm-3">
                                                    <select name="categoryId" id="category_id"  class="form-control chosen-select" data-placeholder="商品分类">
                                                        #foreach($category in $categories)
                                                            <option value="$!{category.id}" #if($!{categoryId}==$!{category.id}) selected="selected" #end>$category.name</option>
                                                        #end
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>关联商品：</label>
                                                <div class="col-sm-3">
                                                    <select name="goodsId" id="goods_id"  class="form-control chosen-select" data-placeholder="关联商品">
                                                        #foreach($goods in $goodsList)
                                                            <option value="$!{goods.id}" #if($!{mallHome.goodsId}==$!{goods.id}) selected="selected" #end>$goods.title</option>
                                                        #end
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2"> 排序 ：</label>
                                        <div class="col-sm-6">
                                            <div class="clearfix">
                                                <input type="text" id="sorting" name="sorting" placeholder="排序" value="$!{mallHome.sorting}" class="col-xs-10 col-sm-5" />
                                                <span class="help-inline"><span class="middle">越小越靠前</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right "><h4><strong>商品信息</strong></h4>  </label>
                                        <div class="col-sm-9">
                                            <div class="clearfix">
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>商品名称：</label>
                                        <div class="col-sm-3">
                                            <div class="clearfix">
                                                <input class="form-control" name="showName" id="show_name" value="$!{mallHome.showName}" type="text" placeholder="商品名称" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>商品售价：</label>
                                        <div class="col-sm-3">
                                            <div class="clearfix">
                                                <input class="form-control" name="showPrice" id="show_price" value="$!{mallHome.showPrice}" type="text" placeholder="商品售价" />
                                            </div>
                                        </div>
                                        <span class="help-inline"><span class="middle">注: 显示价格，不参与计算</span></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>商品原价：</label>
                                        <div class="col-sm-3">
                                            <div class="clearfix">
                                                <input class="form-control" name="oldPrice" id="old_price" value="$!{mallHome.oldPrice}" type="text" placeholder="商品原价" />
                                            </div>
                                        </div>
                                        <span class="help-inline"><span class="middle">注: 显示价格，不参与计算</span></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>商品描述：</label>
                                        <div class="col-sm-3">
                                            <div class="clearfix">
                                                <input class="form-control" name="showDes" id="show_des" value="$!{mallHome.showDes}" type="text" placeholder="商品描述" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2"><span class="middle red">*</span>展示图片：</label>
                                        <div class="col-sm-3">
                                            <div class="clearfix">
                                                <input class="form-control hidden" name="showImg" id="show_img" value="$!{mallHome.showImg}" type="text" placeholder="展示图片" />
                                                <img id="show_img_preview" src="$!{mallHome.showImg}" width="100" height="100">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="submit" id="submit">
                                                <i class="icon-ok bigger-110"></i>
                                                	提交
                                            </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button class="btn" type="reset">
                                                <i class="icon-undo bigger-110"></i>
                                               	 重置
                                            </button>
                                        </div>
                                    </div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			#parse("commons/scroll.vm")
		</div><!-- /.main-container -->

		#parse("commons/footerJs.vm")
		<script src="${base}/mocentre/js/fuelux/fuelux.spinner.js"></script>
		<script type="text/javascript">
            $(document).ready(function(){
	            $('#sorting').ace_spinner({min:1,max:200,step:1, btn_up_class:'btn-info',btn_down_class:'btn-info'});

                $("#show_local").on('change',function () {
                    if($(this).val() == 'act'){
                        $("#act_img").removeClass('hidden');
                        $("#tag_img").val("");
                    }else {
                        $("#act_img").addClass('hidden');
                        $("#tag_img").val("");
                    }
                })

	            /* 是否外链表单元素控制 */
	            $("#chain_checked").on('change',function () {
	                if($(this).is(':checked')){
	                    $("#isLink").addClass("hidden");
	                    $("#link").removeClass("hidden");
                        cleanGoodsBaseInfo();
	                }else {
	                    $("#isLink").removeClass("hidden");
	                    $("#link").addClass("hidden");
                        $("#link_url").val("");
	                }
	            })
	
	            /* 商品类型表单元素控制 */
	            $("#goods_type").on('change',function () {
	                var type = $(this).val();
	                var param = {};
	                if (type == 'seckill' || type == 'groupon'){
	                    $("#activity").removeClass("hidden");
	                    $("#goods").addClass("hidden");
	                    param.type = type;
	                    query("activity_id","/act/activity/queryActivityList.htm",param,type,"1");
	                }else if (type == 'common'){
	                    $("#goods").removeClass("hidden");
	                    $("#activity").addClass("hidden");
	                    query("category_id","/goods/category/ajax/getCategory.htm",param,type,"1");
	                }else {
	                    layer.msg('商品类型不能为空');
	                }
	            })
	
	            /* 选择相关活动后获取活动商品 */
	            $("#activity_id").on('change',function () {
	            	cleanGoodsBaseInfo();
	            	var id = $(this).val();
	            	if(id!=null&&id!=''){
		                var param = {};
		                param.activityId = id;
		                query("act_goods_id","/act/activity/queryActivityGoodsList.htm",param,"activity","2");
	            	}
	            })
	
	            /* 选择相关分类后获取普通商品 */
	            $("#category_id").on('change',function () {
	            	cleanGoodsBaseInfo();
	            	var id = $(this).val();
	            	if(id!=null&&id!=''){
		                var param = {};
		                param.cid = id;
		                query("goods_id","/goods/goods/ajax/getByCategory.htm",param,"common","2");
	            	}
	            })
	
	            /* 获取活动商品信息 */
	            $("#act_goods_id").on('change',function () {
	            	cleanGoodsBaseInfo();
	            	var id = $(this).val();
	            	if(id!=null&&id!=''){
		                var param = {};
		                param.id = id;
		                queryGoods("/act/activity/queryActGoodsInfo.htm",param,"activity");
	            	}
	            })
	
	            /* 获取普通商品信息 */
	            $("#goods_id").on('change',function () {
	            	cleanGoodsBaseInfo();
	            	var id = $(this).val();
	            	if(id!=null&&id!=''){
		                var param = {};
		                param.id = id;
		                queryGoods("/goods/goods/ajax/getGoodsById.htm",param,"common");
	            	}
	            })
	            
                var rules = {},messages = {};
                rules.goodsType = {required:true};
                rules.showLocal = {required:true};
                rules.showName = {required:true};
                rules.showPrice = {required:true, digitsOrTwo:true};
                rules.oldPrice = {required:true, digitsOrTwo:true};
                rules.showDes = {required:true};
                rules.showImg = {required:true};

                messages.goodsType = {required:"请选择商品类型"};
                messages.showLocal = {required:"请选择展示位置"};
                messages.showName = {required:"商品名称不能为空"};
                messages.showPrice = {required:"商品售价不能为空"};
                messages.oldPrice = {required:"商品原价不能为空"};
                messages.showDes = {required:"商品描述不能为空"};
                messages.showImg = {required:"展示图片不能为空"};

                Validate.init("theForm",rules,messages,
                        function(form){
                            $("input[name='chainChecked']:checkbox").each(function(){
                                if($(this).is(':checked')){
                                    $("#is_chain").val("1");
                                }else{
                                    $("#is_chain").val("0");
                                }
                            });

                            if ($("#show_local").val() == 'act'){
                                if ($("#tag_img").val() == ''){
                                    layer.msg("请上传活动展示图标!");
                                    return;
                                }
                            }

                            if ($("#is_chain").val() == '1'){
                                if ($("#link_url").val() == ''){
                                    layer.msg("外部链接不能为空!");
                                    return;
                                }
                            }
                            if ($("#goods_type").val() == 'common'){
                                if ($("#goods_id").val() == ''){
                                    layer.msg("请选择关联商品!");
                                    return;
                                }
                            }else {
                                if ($("#act_goods_id").val() == ''){
                                    layer.msg("请选择关联商品!");
                                    return;
                                }
                            }

                            App.formAjaxSubmit('theForm','${base}/bak/mallHome/editMallHome.htm','post',
                                function(result){
                                    var suc = result.success;
                                    if(suc){
                                        window.location.href="${base}/bak/mallHome/index.htm";
                                    }else{
                                        layer.msg(result.message);
                                    }
                                }
                            );
                        }
                );
            })
            
            function query(domId,url,paramMap,type,level) {
                jQuery.ajax({
                    type: 'post',
                    url: '${base}'+url,
                    data:  paramMap,
                    dataType: 'json',
                    success: function(result){
                        if(result.success){
                            var list = result.data;
                            $("#"+domId).html("<option value=''>请选择</option>");
                            if(list!=null&&list.length>0){
                                $.each(list,function(i){
                                    if (level == '1'){
                                        if (type == 'common'){
                                            $("#"+domId).append("<option value='"+list[i].id+"'>"+list[i].name+"</option>")
                                        }else {
                                            $("#"+domId).append("<option value='"+list[i].id+"'>"+list[i].title+"</option>")
                                        }
                                    }else if (level == '2'){
                                        if (type == 'common'){
                                            $("#"+domId).append("<option value='"+list[i].id+"'>"+list[i].name+"</option>")
                                        }else {
                                            $("#"+domId).append("<option value='"+list[i].id+"'>"+list[i].goodsName +"</option>")
                                        }
                                    }
                                });
                            }else{
                                layer.msg('未找到相关信息');
                            }
                        }else{
                            layer.msg(result.message);
                        }
                    },
                    error: function(result) {
                        layer.msg('系统异常，请联系系统管理员!');
                    }
                });
            }

            function queryGoods(url,paramMap,type) {
                jQuery.ajax({
                    type: 'post',
                    url: '${base}'+url,
                    data:  paramMap,
                    dataType: 'json',
                    success: function(result){
                        if(result.success){
                            var info = result.data;
                            if (type == 'common'){
                                $("#show_name").val(info.title);
                                $("#show_des").val(info.describe);
                                $("#show_price").val(info.sellLowPrice);
                                $("#old_price").val(info.oldLowPrice);
                                $("#show_img").val(info.imgListPage);
                                $("#show_img_preview").attr("src",info.imgListPage);
                            }else {
                                $("#show_name").val(info.goodsName);
                                $("#show_des").val(info.tagline);
                                $("#show_price").val(info.sellLowPrice);
                                $("#old_price").val(info.oldLowPrice);
                                $("#show_img").val(info.goodsImg);
                                $("#show_img_preview").attr("src",info.goodsImg);
                            }
                        } else{
                            layer.msg(result.message);
                        }
                    },
                    error: function(result) {
                        layer.msg('系统异常，请联系系统管理员!');
                    }
                });
            }
            
            function cleanGoodsBaseInfo(){
            	$("#show_name").val("");
                $("#show_des").val("");
                $("#show_price").val("");
                $("#old_price").val("");
                $("#show_img").val("");
                $("#show_img_preview").attr("src","");
            }

            function addImg(nodeId){
                var index = layer.open({
                    type: 2,
                    title: "上传图片",
                    shadeClose: true,
                    closeBtn: 1,
                    area: ['30%', '50%'],
                    content: ['${base}/common/upyun/uploadImg.htm?nodeId='+nodeId, 'no'],
                    btn: ['关闭'],
                    yes:function(){
                        var imgsrc = $("#"+nodeId).val();
                        if (imgsrc != ''){
                            $("#"+nodeId+"_preview").removeClass("hidden");
                            $("#"+nodeId+"_preview").attr("src",imgsrc);
                        }
                        layer.close(index);
                    }
                });
            }
		</script>
</body>
</html>
